<p>
  <b>Filters:</b>
  <center>
    <%= [format_datetime3(params[:start_time]), format_datetime3(params[:end_time])] * " - " %>
  </center>
  <% if (params.keys - %w{start_time end_time period controller action}).length != 0 %>
    <ul>
      <% params.keys.each do |key| %>
        <% next if %w{start_time end_time period controller action}.include?(key) %>
        <li>
          <%= link_to "#{key} = #{params[key]}", params.merge(:controller => params[:controller], :action => params[:action], key => nil) %>
        </li>
      <% end %>
    </ul>
    <%= link_to("[CLEAR FILTERS]", :action => "index") %>
  <% end %>
</p>

